In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns

sns.set(palette= 'coolwarm', style= 'darkgrid')
sns.set_context("notebook",font_scale=1.5, rc={"lines.linewidth": 2.5, 'figure.figsize':(13.0,8.27)})

In [2]:
diagnose = ["akiec", "bcc", "bkl","df", "mel", "nv", "vasc"]

In [3]:
meta = pd.read_pickle("./meta.pkl")

In [4]:
meta.head()

,lesion_id,image_id,dx,dx_type,age,sex,localization,duplicate,img_nr
0,HAM_0000118,ISIC_0027419,bkl,histo,80.0,male,scalp,has_duplicates,0027419
1,HAM_0000118,ISIC_0025030,bkl,histo,80.0,male,scalp,has_duplicates,0025030
2,HAM_0002730,ISIC_0026769,bkl,histo,80.0,male,scalp,has_duplicates,0026769
3,HAM_0002730,ISIC_0025661,bkl,histo,80.0,male,scalp,has_duplicates,0025661
4,HAM_0001466,ISIC_0031633,bkl,histo,75.0,male,ear,has_duplicates,0031633

In [5]:
plot = meta.groupby(['dx'])['dx'].count()

In [6]:
plot = [321, 514, 1099, 115, 1113, 6705, 142]

In [ ]:
img = pd.DataFrame(meta.groupby('dx')["dx", "age"].count())

In [10]:
age = pd.DataFrame(meta.groupby('dx')["age"].median())

In [7]:
sex = pd.DataFrame(meta.groupby(["dx", "sex"])["dx"].count().unstack(1))

In [8]:
sex.female.sum(),sex.male.sum()

(4552.0, 5406.0)

In [ ]:
nums = [106, 197, 463, 52, 424, 3237, 73]

In [ ]:
[((x/4552)*100) for x in nums]

In [ ]:
import plotly.graph_objects as go

In [ ]:
diagnose=['akiec', 'bcc', 'bkl', 'df', 'mel', 'nv', 'vasc']

fig = go.Figure(data=[
    go.Bar(name='male', x=diagnose, y=[4, 6, 12, 1,13, 63, 1]),
    go.Bar(name='female', x=diagnose, y=[2, 4, 10, 1, 9, 71, 2])
])
# Change the bar mode
fig.update_layout(barmode='group')
fig.update_traces(marker_line_width=1.5, opacity=0.8)
fig.show()

In [ ]:
fig = go.Figure()
fig.add_trace(go.Bar(
    x=diagnose,
    y=[4, 6, 12, 1,13, 63, 1],
    name='male',
    marker_color='rgb(26, 118, 255)'
))
fig.add_trace(go.Bar(
    x=diagnose,
    y=[2, 4, 10, 1, 9, 71, 2],
    name='female',
    marker_color='rgb(55, 83, 109)'
))

# Here we modify the tickangle of the xaxis, resulting in rotated labels.
fig.update_layout(barmode='group', xaxis_tickangle=-45)
fig.show()

In [ ]:
ddf = pd.DataFrame(meta.groupby(['dx'])["dx"].value_counts()

In [ ]:
plot

In [ ]:
import plotly.graph_objects as go

colors = colors


fig = go.Figure(data=[go.Bar(
    x=diagnose,
    y=plot,
    marker_color=colors # marker color can be a single color value or an iterable
)])
fig.update_layout(title_text='Number of images per category')

In [ ]:
colors = [
    '#1f77b4',  # muted blue
    '#2ca02c',  # cooked asparagus green
    '#d62728',  # brick red
    '#8c564b',  # chestnut brown
    '#e377c2',  # raspberry yogurt pink
    '#bcbd22',  # curry yellow-green
    '#17becf'   # blue-teal
]

In [11]:
age = age.age.to_list()

In [12]:
age

[70.0, 70.0, 65.0, 50.0, 60.0, 45.0, 55.0]

In [ ]:
colors = ["rgb(166,206,227)","rgb(31,120,180)","rgb(178,223,138)","rgb(51,160,44)","rgb(251,154,153)","rgb(227,26,28)",'#bcbd22' ]

In [ ]:
import plotly.graph_objects as go

colors = colors


fig = go.Figure(data=[go.Bar(
    x=diagnose,
    y=age,
    marker_color=colors # marker color can be a single color value or an iterable
)])
fig.update_layout(title_text='')

In [ ]:
meta.groupby(["dx", "localization"])["dx"].count().unstack()